<div class="container shadow-lg pb-4 mt-5 my-5">
  <div class="row details g-3 mt-2 px-3 py-3">
    <h1>ajouter</h1>



    <div class="col-lg-4">
      <label class="form-label">input simple </label>
      <input type="text" class="form-control">
    </div>
    <div class="col-lg-4">
      <label class="form-label">input simple </label>
      <input type="text" class="form-control">
    </div>

    <div class="col-lg-4">
      <label class="form-label">date </label>
      <input type="date" class="form-control">
    </div>
    <div class="col-lg-4">
      <label class="form-label">date </label>
      <input type="date" class="form-control">
    </div>


  <div class="col-lg-4">
    <label class="form-label">select</label>
    <select class="form-select">
      <option>Sélectionner</option>
      <option value="1" selected>Oui</option>
      <option value="2">Non</option>

    </select>
  </div>
  <div class="col-lg-4">
    <label class="form-label">select</label>
    <select class="form-select">
      <option>Sélectionner</option>
      <option value="1" selected>Oui</option>
      <option value="2">Non</option>

    </select>
  </div>

  <div class="col-lg-12">
    <div class="d-flex align-items-center">
        <button class="button-Enregistrer me-3" type="submit" routerLink="/" (click)="saveItem()">Enregistrer</button>
        <button class="button-annuler" type="reset" routerLink="/">Annuler</button>
    </div>
</div>

  </div>
</div>
