<div class="container shadow-sm mt-5">
  <div class="row details g-3 mt-2 px-3">
    <h1>Details</h1>
    <div class="col-lg-3">
      <div class="details-item">
        <p class="details-item-title">Prenom</p>
        <p class="details-item-value">{{elements.prenom}}</p>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="details-item">
        <p class="details-item-title">Nom</p>
        <p class="details-item-value">{{elements.nom}}</p>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="details-item">
        <p class="details-item-title">Adress</p>
        <p class="details-item-value ">{{elements.adress}}</p>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="details-item">
        <p class="details-item-title">Prenom</p>
        <p class="details-item-value">{{elements.prenom}}</p>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="details-item">
        <p class="details-item-title">Prenom</p>
        <p class="details-item-value">{{elements.prenom}}</p>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="details-item">
        <p class="details-item-title">Prenom</p>
        <p class="details-item-value">{{elements.prenom}}</p>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="details-item">
        <p class="details-item-title">Prenom</p>
        <p class="details-item-value">{{elements.prenom}}</p>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="details-item">
        <p class="details-item-title">Prenom</p>
        <p class="details-item-value">{{elements.prenom}}</p>
      </div>
    </div>
  </div>
</div>
